{% load static %}

<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/monitoramento.css' %}">
    <script src="{% static 'js/bootstrap/bootstrap.min.js' %}"></script>
</head>

<body>
    <div class="nav-container">
        <nav class="navbar navbar-expand navbar-dark bg-dark">
            <a class="navbar-brand" href="#">Tela de Monitoramento</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'main'%}">Tela Principal<span class="sr-only">(current)</span></a>
                    </li>
                </ul>
                <span class="navbar-text">
                        <a class="nav-link" href="{% url 'login'%}">Logout<span class="sr-only">(current)</span></a>
                </span>
            </div>
        </nav>
    </div>

    <div class="container">
        <div class="search-box">
            <form class="row g-3" method="GET">
                <div class="col-auto mb-3">
                    <label for="formGroupExampleInput" class="form-label">Digite o número do voo:</label>
                    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="1234" name="voo">
                </div>
                <div class="col-auto div-pesquisar">
                    <button type="submit" class="btn btn-primary mb-3">Pesquisar</button>
                </div>
            </form>
        </div>

        <div class="monitoramento-form">

        </div>
    </div>
</body>

</html>