{% load static %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/monitoramento.css' %}">

    <script src="{% static 'js/bootstrap/bootstrap.min.js' %}"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'));
            var tooltipList = tooltipTriggerList.map(function(element) {
                return new bootstrap.Tooltip(element);
            });
        });
    </script>
</head>

<body>
    <div class="nav-container fixed-top">
        <nav class="navbar navbar-expand navbar-dark bg-dark">
            <a class="navbar-brand" href="{% url 'main'%}">Sistema de Monitoramento de Voo</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'main'%}">Tela Principal<span class="sr-only">(current)</span></a>
                    </li>
                </ul>
                <span class="navbar-text">
                        <a class="nav-link" href="{% url 'login'%}">Logout<span class="sr-only">(current)</span></a>
                </span>
            </div>
        </nav>
    </div>

    <div class="container">
        {% for message in messages %}
        <div class="container-fluid p-0">
            <div class="alert {{ message.tags }} alert-dismissible" role="alert" >
                {{ message }}
            </div>
        </div>
        {% endfor %}

        <div class="search-box row">
            <div class="col-md titulo">
                <h1 titulo-text>Tela de Monitoramento</h1>
            </div>

            <form class="row g-3 search-form col-auto">
                <div class="col-auto mb-3">
                    <label for="formGroupExampleInput" class="form-label">Digite o número do voo:</label>
                    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="1234" name="voo">
                </div>
                <div class="col-auto div-pesquisar">
                    <button type="submit" class="btn btn-primary mb-3">Pesquisar</button>
                </div>
            </form>
        </div>

        <div class="monitorar-all">
            <a href="{% url 'monitoramento_all' %}"><span>Monitorar Todos os Voos</span></a>
        </div>

        <div class="container-xl table-voo">

            <h2>Monitorando Voo: {{ voo.codigoVoo }} </h2>

            <br>

            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Companhia Aérea</th>
                        <td scope="col">{{ voo.companhiaAerea}}</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">Partida Prevista do Voo</th>
                        <td> {{voo.partidaPrevista}} </td>
                    </tr>
                    <tr>
                        <th scope="row">Chegada Prevista do Voo</th>
                        <td> {{voo.chegadaPrevista}} </td>
                    </tr>
                    <tr>
                        <th scope="row">Rota do Voo</th>
                        <td> {{voo.rota}} </td>
                    </tr>
                    <tr>
                        <th scope="row">Aeroporto de Origem do Voo</th>
                        <td> {{ voo.aeroportoOrigem}} </td>
                    </tr>
                    <tr>
                        <th scope="row">Aeroporto de Destino do Voo</th>
                        <td> {{ voo.aeroportoDestino}} </td>
                    </tr>
                    <tr>
                        <th scope="row">Condição do Voo</th>
                        <td> {{ voo.condicao }} </td>
                    </tr>
                    <tr>
                        <th scope="row">Status do Voo</th>
                        <td scope="col">
                            {% if voo.pk %}
                            <a href="{% url 'atualizar_status_voo' voo.pk %}">{{ voo.status }}</a> {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Partida Real do Voo</th>
                        <td scope="col">
                            {% if voo.pk %}
                            <a href="{% url 'atualizar_partida_voo' voo.pk %}">{{ voo.partidaReal }}</a> {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Chegada Real do Voo</th>
                        <td scope="col">
                            {% if voo.pk %}
                            <a href="{% url 'atualizar_chegada_voo' voo.pk %}">{{ voo.chegadaReal }}</a> {% endif %}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>

</html>