{% load static %}

<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/crud.css' %}">
    <script src="{% static 'js/bootstrap/bootstrap.min.js' %}"></script>
</head>

<body>
    <div class="nav-container">
        <nav class="navbar navbar-expand navbar-dark bg-dark">
            <a class="navbar-brand" href="#">Detalhes do Voo</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'main'%}">Tela Principal<span class="sr-only">(current)</span></a>
                    </li>
                </ul>
                <span class="navbar-text">
                        <a class="nav-link" href="{% url 'login'%}">Logout<span class="sr-only">(current)</span></a>
                </span>
            </div>
        </nav>
    </div>

    <h1>Ver Infos do Voo</h1>

    <h2>
        Código do Voo: {{ voo.codigoVoo }}
    </h2>

    <br /> Companhia Aérea: {{ voo.companhiaAerea}}
    <br /> Partida Prevista do Voo: {{ voo.partidaPrevista}}
    <br /> Chegada Prevista do Voo: {{ voo.chegadaPrevista}}
    <br /> Rota do Voo: {{ voo.rota}}
    <br /> Aeroporto de Origem do Voo: {{ voo.aeroportoOrigem}}
    <br /> Aeroporto de Destino do Voo: {{ voo.aeroportoDestino}}

    <a class="btn btn-secondary" href="{% url 'crud' %}">Voltar</a>

</body>

</html>