.container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.box {
    text-align: center;
    vertical-align: middle;
    display: table-cell;
}

p {
    text-align: center;
}
