.container {
    width: 100vw;
    height: 90vh;
    background: #ffffff;
    display: flex;
    flex-direction: row;
    /*justify-content: center;
    align-items: center;*/
}

.box {
    text-align: center;
    vertical-align: middle;
    display: table-cell;
}

p {
    text-align: center;
}

.table-box {
    font-size: .8rem;
}

@media (max-width: 1200px) {
    .table-box {
        font-size: .6rem !important;
    }
}
