.box-tabela {
    width: 100vw;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tabela {
    background: #fff;
    display: inline-grid;
    grid-template-columns: auto auto auto;
    width: 60vw !important;
}

.link-button {
    color: #fff !important;
    text-decoration: none !important;
}

