h3 {
    margin-bottom: 2rem;
}

.table-box {
    position: relative;
    font-size: .8rem !important;
}

.table-chegada, .table-partida {
    width: 35vw;
    text-align: center;
    position: relative;
    display: inline-block;
}

.table-chegada {
    float: left;
    left: 7vw;
}

.table-partida {
    float: right;
    right: 7vw;
}

@media (max-width: 1200px) {
    .table-box {
        font-size: .6rem !important;
    }
}
