.container {
    width: auto !important;
    max-width: 100vw !important;
    height: 85vh !important;
    background: #ffffff;
    margin-left: 2rem;
    margin-right: 2rem;
}

p {
    text-align: center;
}

.search-box {
    width: fit-content;
    margin: 1rem;
    margin-left: 0rem;
}

.btn {
    margin-top: 2rem;
}

.div-pesquisar {
    align-items: flex-start;
    padding: 0 !important;
}

.row {
    margin-right: .5rem !important;
    margin-left: .5rem !important;
}
