.container {
    width: auto !important;
    max-width: 100vw !important;
    height: 85vh !important;
    background: #ffffff;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 7rem;
}

p {
    text-align: center;
}

.search-box {
    margin: 1rem;
    margin-top: 2rem;
    margin-bottom: 0;
}

.btn {
    margin-top: 2rem;
}

.div-pesquisar {
    align-items: flex-start;
    padding: 0 !important;
}

.row {
    margin-right: .5rem !important;
    margin-left: .5rem !important;
    align-items: center;
}

.table-voo {
    padding-right: 5rem !important;
    padding-left: 5rem !important;
    padding-top: 1rem !important;
    padding-bottom: 2rem !important;
}

.titulo {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.monitorar-all {
    display: inline-block;
    width: 13rem;
    height: 3.5rem;
    margin-left: 2rem;
    margin-bottom: 1rem;
    border-radius: .5rem;
    background-color: #007bff;
}

.monitorar-all a {
    display: block;
    width: inherit;
    height: inherit;
    position: relative;
    text-decoration: none;
    color: white;
}

.monitorar-all a span {
    position: absolute;
    height: fit-content;
    width: fit-content;
    inset: 0;
    margin: auto;
}
