.nav-container {
    background-color: #343a40;
}

nav {
    padding-left: 2rem !important;
    padding-right: 2rem !important;
}

.table thead th {
    vertical-align: top !important;
    border-bottom: 2px solid #dee2e6;
}

.navbar-collapse {
    display: inline;
    position: absolute;
    right: 2rem;
}
