.form-control {
    display: inline-block;
    width: 20rem;
    margin-left: 1rem;
}

.form-group-status .form-control {
    width: 15vw;
}

.form-group p {
    margin-bottom: 0;
}

.btn {
    width: 6rem;
    margin-right: .5rem;
}
