{% load static %}

<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <script src="{% static 'js/bootstrap/bootstrap.min.js' %}"></script>
</head>

<body>
    <div class="nav-container">
        <nav class="navbar navbar-expand navbar-dark bg-dark">
            <a class="navbar-brand">Sistema de Monitoramento de Voo</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <span class="navbar-text">
                        <a class="nav-link" href="{% url 'voos'%}">Logout</a>
                </span>
            </div>
        </nav>
    </div>

    <div class="container-xl p-5">
        <h2>
            Editar informações do voo: {{ voo.codigoVoo }}
        </h2>

        <br>

        <table>
            <div class="form-group">
                <form method="POST">
                    {% csrf_token %} {{ form.as_p}}
                    <br>
                    <button class="btn btn-secondary">Salvar</button>
                    <a class="btn btn-secondary" href="{% url 'crud' %}">Cancelar</a>
                </form>
            </div>
        </table>

    </div>

</body>

</html>