{% load static %}

<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/relatorio.css' %}">
    <script src="{% static 'js/bootstrap/bootstrap.min.js' %}"></script>
</head>

<body>
    <div class="nav-container">
        <nav class="navbar navbar-expand navbar-dark bg-dark">
            <a class="navbar-brand">Sistema de Monitoramento de Voo</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <span class="navbar-text">
                        <a class="nav-link" href="{% url 'voos'%}">Logout</a>
                </span>
            </div>
        </nav>
    </div>

    <div class="container-xl p-5 box-tabela">

        <h2>Escolha o tipo de relatório desejado</h2>

        <br>

        <div class="card-group tabela">
            <div class="card card text-center">
                <div class="card-body ">
                    <h5 class="card-title ">Relatório de Partidas</h5>
                    <p class="card-text ">Este relatório fornece as informações de partidas de voos do Aeroporto</p>
                </div>
                <div class="card-footer ">
                    <a href="{% url 'relatorio_partidas' %}" class="btn btn-secondary ">Escolher Relatório</a>
                </div>
            </div>
            <div class="card card text-center">
                <div class=" card-body ">
                    <h5 class="card-title ">Relatório de Chegadas</h5>
                    <p class="card-text ">Este relatório fornece as informações de partidas de voos do Aeroporto</p>
                </div>
                <div class="card-footer ">
                    <a href="{% url 'relatorio_chegadas' %}" class="btn btn-secondary ">Escolher Relatório</a>
                </div>
            </div>
        </div>
    </div>

</body>

</html>